<!DOCTYPE html>
<html lang="en-GB">

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>

<body>


  <main class="container text-center">
    <h2>Welcome to THE SUPER PHONEBOOK </h2>
    <div class="row">

      <div class="col-md-6">
        <button id="person_button">find a person</<button>
      </div>

      <div class="col-md-6">
        <button id="business_button"> find a business </button>
      </div>

    </div><!-- /.row -->

    <div id="person_search" {% if do_not_hide_surname %} class="do_not_hide" {% endif %}>
      <h2> find a person </h2>

      <div id="contact-form">
        <form method="post" action="/">
          <label for="surname">Name:</label>
          <input id="surname" name="surname" required="required">
          <label for="postcode ">Postcode:</label>
          <input id="postcode" name="postcode">
          <input type="submit" value="Submit" name="submit" id="submit-button">
        </form>
        <div class="results">
          <p>You searched for: {{surname}} in {{postcode}}.</p>
          {{result}}
        </div><!-- /.results -->

      </div> <!-- /#contact-form -->
    </div> <!-- #.person_search -->



    <div id="business_search" {% if do_not_hide_buttons %} class="do_not_hide" {% endif %}>
      <h2> find a business </h2>

      <div id="search_type_choice">
        <p>Would you like to search by business category or business name?</p>


        <button id="name_button"> name </button>
        <button id="category_button"> category </button>
      </div><!-- /#search_type_choice -->


      <div id="name-search-form" {% if do_not_hide_name %} class="do_not_hide" {% endif %}>
        <form method="post" action="/">
          <label for="name">Name:</label>
          <input id="name" name="name">
          <label for="postcode ">Postcode:</label>
          <input id="name_postcode" name="postcode">
          <input type="submit" value="Submit" name="submit" id="name-submit-button">
        </form>
        <div class="results">
          <p>You searched for: {{name}} in {{postcode}}.</p>
          {{result}}

        </div><!-- /.results -->

      </div><!-- /#name-search-form -->

      <div id="category-search-form" {% if do_not_hide_category %} class="do_not_hide" {% endif %}>
        <form method="post" action="/">
          <label for="category">Type:</label>
          <input id="category" name="category">
          <label for="postcode ">Postcode:</label>
          <input id="business_postcode" name="postcode">
          <input type="submit" value="Submit" name="submit" id="submit-button">
        </form>
        <div class="results">
          <p>You searched for: {{category}} in {{postcode}}.</p>
          {{result}}
        </div><!-- /.results -->

      </div><!-- /#category-search-form -->

    </div><!-- #.business_search -->




  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="static/js/engine.js"></script>

</body>

</html>
